

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



body {
    padding-top: 50px;
    padding-bottom: 20px;
}


#twitter-widget-0 {
    min-height: 500px;
}

input, select, textarea {
    color: black;
}

.table {
    font-size: 14px;
}

footer {
    text-align: center;
}





