/* Kom igång */
.flappy {
    background-image: url(img/nu/flappy.png)
}

.minecraft {
    background-image: url(img/nu/minecraft.png)
}

/* Nybörjare */
.starwars {
    background-image: url(img/nu/starwars.png)
}
.angrybirds {
    background-image: url(img/nu/angrybirds.png)
}
.disney {
    background-image: url(img/nu/disney.png)
}
.frozen {
    background-image: url(img/nu/frozen.png)
}
.codeorg {
    background-image: url(img/nu/codeorg.png)
}
.blocky {
    background-image: url(img/nu/blockygames.png)
}

/* Scratch Spel */
.scratch {
    background-image: url(img/nu/scratch.png)
}
.scratchtumaningar {
    background-image: url(img/nu/scratch-utmaningar.png)
}
.codeclub {
    background-image: url(img/nu/codeclub.png)"
}
.scratchnkpg {
    background-image: url(img/nu/nkpg.png)
}

/* Fortsättning */
.codecombat {
    background-image: url(img/nu/codecombat.png)
}
.silentteacher {
    background-image: url(img/nu/silentteacher.png)
}
.edublocks {
    background-image: url(img/nu/edublocks.png)
}

/* Avancerat */
.untrusted {
    background-image: url(img/nu/untrusted.png)
}
.codinggame {
    background-image: url(img/nu/codinggame.png)
}

/* Hemsida */
.glitch {
    background-image: url(img/nu/glitch.png)
}
.codemoji {
    background-image: url(img/nu/codemoji.png)
}
.khan {
    background-image: url(img/nu/khanacademy.png)
}
.codecademy {
    background-image: url(img/nu/codecademy_js.png)
}

/* Spel */
.godot {
    background-image: url(img/nu/godot.svg)
}
.unity {
    background-image: url(img/nu/unity.png)
}
.unitykurs {
    background-image: url(img/nu/unity.png)
}

/* Appar Med Mera */
.appinventor {
    background-image: url(img/nu/appinventor.png)
}
.applab {
    background-image: url(img/nu/applab.png)
}
.p5jsmalin {
    background-image: url(img/nu/processing_malin.png)
}

.processingIngela {
    background-image: url(img/nu/processing_ingela.png)
}

/* resurser */
.kenney {
    background-image: url(img/nu/kenney.png)
}

#microbitcover {
    background-image: url(img/nu/microbit.png)
}
.microbit {
    background-image: url(img/nu/microbit.png)
}
.mermicrobit {
    background-image: url(img/nu/mermicrobit.png)
}

#playgroundcover {
    background-image: url(img/playground.jpg)
}

