@import 'https://fonts.googleapis.com/css?family=Lato:300,400';

/* Use only these colors!

Text/Outlines
	* Normal text (on light background): #23303C;
	* Links/buttons: #C3773A;

Backgrounds:
	* Body: #F8F8F8;
	* Footer: #E6EEEC;
	* Box (extra light): #C7E2DA;
	* Box (light): #9ED0C4;
	* Box (medium): #7BB0A2;
*/

/* Colors */

body {
	color: #23303C; /* Normal text */
	background-color: #F8F8F8; /* Body */
}

a {
	color: #C3773A; /* Links/buttons */
}

header {
	background-color: rgba(248,248,248,0.9); /* Body #F8F8F8 */
}

header a {
	color: #2E5153;
}

nav a.active {
	border-color: #2E5153;
}

nav a:hover {
	color: #7CB0A2;
}

.blocks article:nth-of-type(3n+1) {
	background-color: #C7E2DA; /* extra light */
}

.blocks article:nth-of-type(3n+2) {
	background-color: #9ED0C4; /* extra light */
}

.blocks article:nth-of-type(3n+3) {
	background-color: #7BB0A2; /* extra light */
}


/* General styles */
body {
	font-family: Lato, sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
}

h2 {
	font-weight: 300;
	font-size: 1.6em;
}

/* Header and navigation */

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 12px;
	max-width: 1400px;
	z-index: 10;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-end;
}

header a {
	font-size: large;
}

nav {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	flex-grow: 1;
	margin-left: 2em;
	margin-right: 2em;
	max-width: 800px;
}

nav a {
	padding-left: 5px;
	padding-right: 5px;
}

nav a.active {
	border-width: 2px;
	border-top-style: solid;
}


/* main, cover and intro areas */

#main {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
}

div#cover {
	background-size: cover; 
	background-position: center;
	width: 100%;
	height: 600px;
}

#intro {
	text-align: center;
	font-size: 1.1em;
	margin-bottom: 2em;
}

#intro p {
	font-style: italic;
	font-size: 1.1em;
}

#intro img#mascot {
	height: 220px;
	width: auto;
	margin-top: -110px;
}

/* blocks */

.blocks {
	display: flex;
	flex-flow: row wrap;
	/*padding: 0.5em;*/
	justify-content: center;
}

.blocks article {
	/*max-width: 600px;*/
	/*margin: 0.5em;*/
	margin-top: 0.2em;
	padding: 1em 3em;
	flex: 1 1 auto;
	width: 300px;
}

.blocks article div.img {
	background-size: cover;
	background-position: center;
	height: 12em;
	margin: -1em -3em 2em -3em;
	opacity: 0.8;
	position: relative;
	filter: saturate(80%) sepia(10%); /*	filter: saturate(20%) sepia(40%);*/
}

/*
div.img::after {
	content: '';
	height: 2em;
	width: 100%;
	background-color: #F8F8F8;
	opacity: 0.3;
	bottom: 0em;
	position: absolute;
}
*/

/*
.blocks article:nth-of-type(3n+1) div.img {
		opacity: 0.5;
}

.blocks article:nth-of-type(3n+2) div.img {
		opacity: 0.6;
}

.blocks article:nth-of-type(3n+3) div.img {
		opacity: 0.7; 
}
*/

*/


/* Footer */

footer {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: stretch;
}

footer {
	background-color: #E6EEEC;
	color: #26303B;
	font-size: small;
	text-align: center;
}

section.single {
	text-align: center;
	margin-top: 3em;
}

img.mascot {
	margin-top: 2em;
	margin-bottom: -26px;
	width: 200px;
	height: 200px;
}


a.button {
	padding: 0.8em;
	text-decoration: none;
	color: #C3773A;
	border: 1px solid #C3773A;;
	font-size: large;
	box-sizing: border-box;
	display: inline-block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

a.button~a.button {
	margin-left: 1em; 
}

section.social a.button:nth-child(2) {
	margin-top: 1em;
}

a.button:hover {
	background-color: #BB632D;
	color: #F8F8F8;
}

a.button.right {
	float: right;
}


.comment {
	background-color: #E6EEEC;
	padding: 0.5em 1em 0.5em 1em;
	color: #2F3E4E;
	position: relative;
	border-radius: 8px;
}

.comment::after {
	position: absolute;
	content: "";
	bottom:-0.8em;
	left: 10%;
 	width: 0; 
 	height: 0; 
 	border-left: 1em solid transparent;
 	border-right: 1em solid transparent;
	border-top: 1em solid #E6EEEC;
}