@import 'https://fonts.googleapis.com/css?family=Lato:300,400';

body {
	margin: 0px;
	font-family: 'Lato', sans-serif;
	background-color: #2b3e50;
	font-size: 110%;
}

header {
	background-color: #2D2D2D;
	color: white;
	padding: 0.8em;
}

header #logo {
	width: 1.8em;
	height: 1.8em;
	margin-right: 1em;
}

header h1 {
	font-size: 2.3em;
	font-weight: 300;
	display: inline;
}

td {
	font-size: larger;
	padding-left: 0.5em;
}

#timeline {
	background-color: #4e5d6c;
	padding: 2em 2em 3em 2em;
	transition: all 0.5s ease;
}

section#content {
	display: flex;
	flex-flow: row wrap;
	padding-right: 1em;
	padding-bottom: 1em;
}

section#content article {
	min-width: 15em;
	width: 30em;
	flex-grow: 1;
	margin-top: 1em;
	margin-left: 1em;
	padding: 0px 15px 15px 15px;
	border-radius: 8px;
	transition: all 0.5s ease;
}

section#content article::after {
	content: "";
	clear:all;
}

section#content article.advanced {
	background-color: #a6c1c6;
}

section#content article.beginner {
	background-color: #C5D8D1;
}

section#content article.info {
	background-color: #E4E4E4;
}

section#content article.special {
	background-color: #E4E4E4;

}

section#content article.big {
	width: 100%;
	background-color: #BB632D;
	color: #eee;
}

section#content article h2 {
	background-color: rgba(255, 255, 255, 0.25);
	padding: 0.5em;
	margin: 0em -15px 15px -15px;
	border-radius: 8px;
	font-weight: 350;
}

img.mascot {
	width: 10em;
	float: right;
	margin: 1em 1em -0.5em 1em;
}

.progress {
	position:relative;
	width: 100%;
	background-color: rgba(255,255,255,0.2);
	border-radius: 8px;
}

.progress .bar {
	background: #BB632D;
	border-radius: 8px;
	height: 2.8em;
}

.progress .action {
	position:absolute;
	background: #fff;/*#2F3E4E;*/
	border-radius: 8px;
	color: #333;
	text-align: center;
	height: 2.8em;
	line-height: 2.8em;
	opacity: 0.6;
}

.progress .marker {
	background-color: #C5D8D1;
	position: absolute;
	top: 110%;
	padding: 0.5em 1em 0.5em 1em;
	color: #2F3E4E;
}

.progress .marker::before {
	position: absolute;
	content: "";
	top:-0.8em;
	left: 0.6em;
 	width: 0; 
 	height: 0; 
 	border-left: 1em solid transparent;
 	border-right: 1em solid transparent;
	border-bottom: 1em solid #C5D8D1;
}

.invisible {
	height: 0px !important;
	margin: 0px !important;
	padding: 0px !important;
	-webkit-transform: scale(1.0,0.0);
	-moz-transform: scale(1.0,0.0);
	transform: scale(1.0,0.0);
}

div.tips {
	display: flex;
	flex-flow: row wrap;
	border-top: 1px solid rgba(43,62,80,0.16);
	border-bottom: 1px solid rgba(43,62,80,0.16);
	background-color: rgba(43,62,80,0.08);
	margin-left: -15px;
	margin-right: -15px;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
}

div.tips a {
	width: 200px;
	height: 200px;
	border-radius: 8px;
	text-align: center;
	background-size: cover;
	background-position: center;
	margin: 0.5em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #eee;
	text-decoration: none;
}

div.tips a:hover div {
	background-color: rgba(187,99,45,0.9);
	padding-top: 1em;
	padding-bottom: 1em;
}

div.tips a div {
	background-color: rgba(43,62,80,0.6);
	padding: 0.3em;
	transition: all 0.2s linear;
}

div.tips a div:nth-child(1) {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

div.tips a div:nth-child(2) {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	font-size: smaller;
}

.footer {
	font-size: small;
	color: #ddd;
	text-align: center;
	margin-bottom: 2em;
}
