@import 'https://fonts.googleapis.com/css?family=Lato:300,400';

/* Använd endast dessa färger: 
Header: #2D2D2D
Main-back: ;*/


body {
	font-family: Lato, sans-serif;
	color: #DEDEDE;
	margin: 0;
	background-color: #E7EFEC;
}

h1 {
	text-align: center;
	font-weight: 400;
	margin:0;
	padding: 0.2em;
}

header {
	background-image: url(img/background3.png);
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(38,48,59,1.0);
}

hr {
	border:none;
	border-top: 1px solid #E7EFEC;
	width: 50%;
}

#main>h2 {
	text-align: center;
	margin: 1.5em;
}

a {
	color: #BB632D;
	text-decoration: none;
}

nav {
	/*background-color: rgba(38,48,59,0.6);*/
	border-bottom: 1px solid rgba(187,99,45,1.0);
	text-align: center;
	padding: 8px;
	margin-top: 0.4em;
}

nav a {
	color: #DEDEDE;
	text-decoration: none;
	padding: 8px;
}

nav a.active {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-color: rgba(187,99,45,1.0);
	color: white;
}

nav a:hover {
	color: white;
}

nav a ~ a {
	margin-left: 1em;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

section#cover {
	position: fixed;
	height: 700px;
	width: 100%;
	z-index: -1;
	top: 0;
}

div.cover {
	background-size: cover; 
	background-position: center;
	width: 100%;
	height: 700px;
}


section#main:before {
	content: '';
	height: 0px;
	margin-bottom: 560px;
	display: block;
	background: none;
	z-index: -100;

}

section#main {
	background-color: #232b35;
	background-image: url(img/background.png);
}

img#logo {
	margin-top: -6em;
	width: 400px;
	height: 400px;
	flex-grow: 0;
	filter: drop-shadow(0px -2px 0px #ccc);
}

footer, section.group {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: stretch;
}

section.group {
	padding-bottom: 1em;
}  

@media (max-width: 800px) {
	section.group {
		flex-flow: column nowrap;
	}

	img#logo {
		order: -1;
	}
}

section#mission {
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 2em;
	/*border-top: 2px solid #BB632D;*/
	background-image: url(img/background3.png);
	background-position: bottom center;
	background-repeat: no-repeat;
}

section#mission h2 {
	font-weight: 300;
	font-size: xx-large;
}

footer>article, section.group>article {
	flex-grow: 1;
	flex-shrink: 1;
	min-width: 200px;
	flex-basis: 15em;
	padding: 1.5em;
	max-width: 500px;
}

section#mission article p {
	font-style: italic;
}


section.highlight {
	background-color: #E7EFEC;
	border-radius: 8px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin: 1em;
	padding-left: 8px;
	padding-right: 8px;
}

@media (max-width: 800px) {
	section.highlight {
		flex-flow: column nowrap;
	}

	footer>article, section.group>article {
		max-width: none;
	}
}


section.highlight article {
	flex-grow: 1;
	flex-shrink: 1;
	color: #26303B;
	max-width: 400px;
	min-width: 20em;
	flex-basis: 25em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
}

section.group div.img, section.highlight div.img {
	width: 250px;
	flex-grow: 1;
	background-position: center;
	background-size: cover;
	flex-basis: 200px;
	opacity: 0.9;
}

footer {
	background-color: #E7EFEC;
	color: #26303B;
	font-size: small;
	text-align: center;
}

section.social {
	text-align: center;
	margin-bottom: 1.5em;
	padding-bottom: 1.5em;
	padding-top: 1em;
}

section.single {
	text-align: center;
}

img.mascot {
	margin-bottom: -26px;
	width: 200px;
	height: 200px;
}


a.button {
	border-radius: 8px;
	background-color: #395355;
	padding: 0.8em;
	text-decoration: none;
	margin: 0.3em;
	color: #DFDFDF;
	font-size: large;
	box-sizing: border-box;
}

section.social a.button:nth-child(2) {
	margin-top: 1em;
}

a.button:hover {
	background-color: #BB632D;
}

a.button.highlight {
	background-color: #BB632D;
}

a.button.highlight:hover {
	background-color: #395355;
}

a.button.right {
	float: right;
}

